<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.management.dao.mapper.LeasePointModelMapper">
    <resultMap id="BaseResultMap" type="com.software.management.dao.model.LeasePointModel">
        <id column="lp_id" jdbcType="BIGINT" property="lpId"/>
        <result column="lp_name" jdbcType="VARCHAR" property="lpName"/>
        <result column="lp_jd" jdbcType="VARCHAR" property="lpJd"/>
        <result column="lp_wd" jdbcType="VARCHAR" property="lpWd"/>
        <result column="lp_binumber" jdbcType="BIGINT" property="lpBinumber"/>
        <result column="lp_leaser" jdbcType="BIGINT" property="lpLeaser"/>
    </resultMap>

    <sql id="Base_Column_List">
    lp_id, lp_name, lp_jd, lp_wd, lp_binumber, lp_leaser
    </sql>

    <select id="getAll" resultType="com.software.management.dao.model.LeasePointModel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from management.leasepoint
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from "leasePointModel"
    where lp_id = #{lpId,jdbcType=BIGINT}
    </delete>


    <insert id="insert" parameterType="com.software.management.dao.model.LeasePointModel">
    insert into "leasePointModel" (lp_name, lp_jd, lp_wd,
      lp_binumber, lp_leaser)
    values (#{lpName,jdbcType=VARCHAR}, #{lpJd,jdbcType=VARCHAR}, #{lpWd,jdbcType=VARCHAR}, 
      #{lpBinumber,jdbcType=BIGINT}, #{lpLeaser,jdbcType=BIGINT})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.software.management.dao.model.LeasePointModel">
        update "leasePointModel"
        <set>
            <if test="lpName != null">
                lp_name = #{lpName,jdbcType=VARCHAR},
            </if>
            <if test="lpJd != null">
                lp_jd = #{lpJd,jdbcType=VARCHAR},
            </if>
            <if test="lpWd != null">
                lp_wd = #{lpWd,jdbcType=VARCHAR},
            </if>
            <if test="lpBinumber != null">
                lp_binumber = #{lpBinumber,jdbcType=BIGINT},
            </if>
            <if test="lpLeaser != null">
                lp_leaser = #{lpLeaser,jdbcType=BIGINT},
            </if>
        </set>
        where lp_id = #{lpId,jdbcType=BIGINT}
    </update>

</mapper>